# **<font color=#8e44ad>House Prices Prediction</font>**

This project is based on the Kaggle competition "House Prices - Advanced Regression Techniques". 

As mentioned on Kaggle, acknowledgments goes to Dean De Cock who collected this data for a use in data science education.

**<font color=#ff7400>Objective</font>**:

The main goal is to predict the price of a house based on different available feature. The loss function retained for final evaluation is the Root-Mean-Squared-Error (RMSE) "between the logarithm of the predicted value and the logarithm of the observed sales price".

## **<font color=#8e44ad>Model Building</font>**

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# importing needed libraries for the project
import pandas as pd
import sys
sys.path.append('..')
from house_prices.__innit__ import TRAIN_FEATURES, TEST_FEATURES
from house_prices.train import build_model
from house_prices.preprocess import features_selection_and_cleaning
from house_prices.inference import make_predictions

In [3]:
# full path to the file to access the file
file_path = "../data/house-prices-advanced-regression-techniques/train.csv"

# opening CSV file with pandas and saving as dataframe
df = pd.read_csv(file_path)

df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
# data feature selection
data = features_selection_and_cleaning(df, TRAIN_FEATURES)

/Users/julien/Documents/EPITA/S2/DSP/dsp-julien-guyet/notebooks/../house_prices/preprocess.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].fillna(df[col].median(), inplace=True)

In [5]:
# training the model
model_performance_dict = build_model(data)
print(model_performance_dict)

{'RMSLE Train': 0.18, 'RMSLE Test': 0.22}

## **<font color=#8e44ad>Model Inference</font>**

In [6]:
# downloading test csv
# full path to the file to access the file
file_path = "../data/house-prices-advanced-regression-techniques/test.csv"

# opening CSV file with pandas and saving as dataframe
test_set = pd.read_csv(file_path)

test_set.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [7]:
data = features_selection_and_cleaning(test_set, TEST_FEATURES)

/Users/julien/Documents/EPITA/S2/DSP/dsp-julien-guyet/notebooks/../house_prices/preprocess.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col].fillna(df[col].median(), inplace=True)

In [8]:
predictions = make_predictions(data)
predictions

{'Here are our predictions using Elastic Net': array([130406.39117143, 162945.99731447, 141098.18272597, ...,
        183487.77717613, 104169.93629847, 220604.03405257])}